* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #141d2f;
  --white: #fff;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--dark-blue);
  transition: .3s;
}
.container {
  margin: 0 auto;
}

.root {
  padding-top: 20px;
  margin: 0 auto;
}



// START header
header {
  width: 50%;
  //   height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 10px;
  .day-night__btn {
    margin-left: 10px;
    min-width: fit-content;
    .day-night-text {
      display: inline;
    }
  }
}
// STOP header

// START search bar
.search-bar {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e2a47;
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 25px;
  .search__icon {
    color: #0079ff;
    font-size: 24px;
    margin-right: 10px;
  }
  .search__input {
    width: 90%;
    input {
      width: 90%;
      height: 50px;
      outline: none;
      font-size: 18px;
      line-height: 25px;
      background: transparent;
      border: none;
      color: #fff;
      font-family: "Space Mono", monospace;
      padding: 0 20px;
    }
  }
  .search__button {
    width: 100px;
    height: 50px;
    button {
      width: 100%;
      height: 100%;
      background: #0079ff;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      transition: 0.2s;
      box-shadow: 0px 5px 15px #0079ff;
      &:active {
        box-shadow: 0px 3px 3px #0077ff;
        transition: 0.2s;
      }
    }
  }
}
// STOP search bar

// START main content

main {
  width: 60%;
  display: flex;
  background: #1e2a47;
  border-radius: 15px;
  padding: 40px;
  .user__image {
    width: 140px;
    height: 140px;
    margin-right: 35px;
    display: flex;
    img {
      border-radius: 50%;
    }
  }
  .user {
    width: 100%;
    .user-desc {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      .user-info {
        width: 100%;
        .user-info__name {
          font-weight: 700;
          font-size: 26px;
          line-height: 39px;
          color: #ffffff;
          margin-bottom: 2px;
        }
        .user-info__username {
          font-size: 16px;
          line-height: 24px;
          color: #0079ff;
          margin-bottom: 20px;
        }
        .user-info__bio {
          font-size: 15px;
          line-height: 25px;
          color: #ffffff;
          mix-blend-mode: normal;
          opacity: 0.75;
        }
      }
      .join-date {
        width: 290px;
        .join-date__paragraph {
          font-size: 15px;
          line-height: 22px;
          color: #fff;
        }
      }
    }

    .user-repos-followers-following {
      display: flex;
      justify-content: space-between;
      background: #141d2f;
      border-radius: 10px;
      color: #fff;
      padding: 20px 30px;
      margin-bottom: 30px;
    }

    .link {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px;
      color: #fff;
      p {
        display: inline;
        font-size: 15px;
        line-height: 22px;
        margin: 5px;
      }
      i {
        display: inline;
      }
      .link__location-website {
        .link__location {
          margin-bottom: 10px;
        }
        .link__website {
          margin-bottom: 10px;
        }
      }
      .link__twitter-company {
        .link__twitter {
          margin-bottom: 10px;
        }
        .link__company {
          margin-bottom: 10px;
        }
      }
    }
  }
}

// STOP main content

//  START Mobile
@media screen and (max-width: 767px) {
  header {
    width: 90%;
  }
  .search-bar {
    width: 90%;
    padding: 10px;
    height: 40px;
    .search__icon {
      font-size: 20px;
    }
    .search__button {
      width: 80px;
      height: 30px;
      button {
        width: 100%;
        height: 100%;
        font-size: 14px;
      }
    }
  }

  main {
    width: 90%;
    flex-direction: column;
    padding: 20px;
    .user__image {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    .user {
      .user-desc {
        flex-direction: column;
        .user-info {
          width: fit-content;
          margin: 0 auto;
          margin-bottom: 10px;
          .user-info__name {
            font-size: 16px;
            line-height: 24px;
          }
          .user-info__username {
            font-size: 13px;
          }
          .user-info__bio {
            font-size: 13px;
          }
        }
        .join-date {
          width: fit-content;
          font-size: 13px;
        }
      }

      .user-repos-followers-following {
        h1 {
          font-size: 16px;
        }
        p {
          font-size: 11px;
          margin-bottom: 10px;
        }
      }

      .link {
        flex-direction: column;
      }
    }
  }
}
//  STOP Mobile

//  START Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    width: 80%;
  }
  .search-bar {
    width: 80%;
  }
  main {
    width: 80%;
  }
}
// STOP Tablet



.day-dark-text {
  color: #222731 !important;
}
.day-dim-text {
  color: #697c9a !important;
}
.day-dark-background {
  background: #fefefe !important;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567) !important;
}
.day-dim-background {
  background: #F6F8FF !important;
}